In [40]:
# importing required libraries and settings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_colwidth', None)

In [36]:
# Reading in data
df = pd.read_csv("crime30.csv", sep = ',')
# print(df.info)

In [37]:
# Data comprises police reports in the Pittsburgh Area in the last 30 days.
# Only Pitt police, no campus police or port authority
print(len(df['INCIDENTNEIGHBORHOOD'].unique()))
df_sub = df.INCIDENTNEIGHBORHOOD.value_counts()
df_reverse = df_sub.iloc[::-1]
df_reverse.head(10)

93

Ridgemont          1
East Carnegie      1
Summer Hill        2
Outside County     2
Chartiers City     2
Regent Square      2
Mt. Oliver Boro    3
Glen Hazel         3
Hays               4
Esplen             4
Name: INCIDENTNEIGHBORHOOD, dtype: int64

In [38]:
df.INCIDENTNEIGHBORHOOD.value_counts()

Central Business District    198
Carrick                      129
South Side Flats             127
East Liberty                 106
Homewood North                87
                            ...
Chartiers City                 2
Outside County                 2
Summer Hill                    2
East Carnegie                  1
Ridgemont                      1
Name: INCIDENTNEIGHBORHOOD, Length: 92, dtype: int64

In [41]:
# Test
x = np.linspace(0, 10, 100)
# put that data into a dataframe
df = pd.DataFrame({"y":np.sin(x), "z":np.cos(x)}, index=x)
df.head()

                y         z
0.00000  0.000000  1.000000
0.10101  0.100838  0.994903
0.20202  0.200649  0.979663
0.30303  0.298414  0.954437
0.40404  0.393137  0.919480